body{
    font-family: 'Dongle', sans-serif;
    font-family: 'Heebo', sans-serif;   
}
.navimg{
    background-image: url("img/arm23.com_.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position:center ;
    background-size: cover;
}
.block{
    background-color:rgb(214, 185, 149);
}